<h4>Online tool for Oracle Data Integration 10g & 11g login file decryption</h4>
<form name="form">
    <div class="form-group row">
        <div class="col-sm-5">
            <label for="file" class="col-form-label">ODI Login file :</label>
            <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-max-size="2MB" ngf-pattern=".xml">Select</div>
            {{file.name}}
        </div>
        <div class="col-sm-2">
            <a class="btn btn-success" ng-disabled="!form.$valid" ng-click="submit()">Decrypt File</a>        
        </div>
    </div>
    <div class="form-group row">
        <i ng-show="form.file.$error.required">*required</i>
    </div>
</form>

<div class="bs-callout bs-callout-info">
   	<h4>Locate ODI login file</h4>
   	<p>
        <b>For ODI 11g</b> the login file is merged in a single file called <b>snps_login_work.xml</b> and is located on the %APPDATA%/odi/oracledi directory for Windows operating systems and USER_HOME/.odi/oracledi on Unix operating systems.
   	</p>
    <p>
    	<b>For ODI 10g</b> the login file is located on &ltOracleDI_HOME&gt\oracledi\bin\snps_login_work.xml file to 
    </p>
</div>

<snp-login-display snp-login-obj="snpLogin" ng-repeat='snpLogin in snpLogins'/>